.test1{
    color: red;
}
.test2{
    font-style: italic;
    color: red;
}
.test3{
    color: brown;
}
.test4{
    text-decoration: line-through;
}
.test5{
    background-color: yellow;
}
.test6{
    text-decoration: underline;
}
.test7{
    font-style: italic;
    color: red;
}
.test8{
    color: brown;
    letter-spacing: 5px;
}
.test9{
    background-color: yellow;
}
.test10{
    color: brown;
}
.test11{
    color: brown;
}
.test12{
    color: brown;
}
.test13{
    font-style: italic;
    color: brown;
    background-color: yellow;
}
